/* large laptop screen */
@media (max-width:1440px){
    .ginger-info{
        height: 65vh;
      } 
}

@media (max-width:1219px){
    .restaurant-header {
        width: 45%;
    }  
}

@media (max-width:1083px){
    .restaurant-header {
        width: 50%;
    } 
    
    
}


/* small laptop screen size */
@media (max-width:1024px) {
   .ginger-info{
    height: 55vh;
  }

   .ginger-image{
    width: 470px;
    height: 453px;
   }

   .menu-container{
    width: 90%;
   }

   .contact-container{
    width: 90%;
   }
}

@media (max-width:928px){ 
    .restaurant-circle{
        width: 200px;
        height: 200px;
    }

    .restaurant-percent{
        font-size: 3rem;
    }

    .restaurant-business{
        font-size: 1.6rem;
    }

    .restaurant-header{
        font-size: 4.5rem;  
    }

    .ginger-price{
        font-size: 3.2rem;
    }

    .ginger-header{
        font-size: 1.6rem;
    }

    .ginger-para{
        font-size: 1.6rem;
    }

    .ginger-link{
        font-size: 1.6rem;
    }

    .a-link{
        font-size: 1.6rem;
    }

    .contact-container {
        flex-wrap: wrap;
    }

    .contact-info-holder {
        width: 50%;
    }
}


/* Tablet screen size */
@media (max-width:768px) {
    /* a {
        font-size: 1rem;
    } */

    .restaurant-container {
        width: 89%;
        padding-top: 90px;
        padding-bottom: 50px;
    }

    .restaurant-header {
        width: 60%;
    }

    .rest-link {
        font-size: 1.8rem;
    }

    .feature-container {
        width: 92%;
        padding-left: 0px;
        flex-wrap: wrap;
        gap: 40px;
        /* border: 1px solid yellow; */
    }

    .feature-design{
        /* border: 1px solid blue; */
        width: 300px;
        height: 328px;
    }

    .ginger-container {
        width: 90%;
        gap: 2px;
        padding-top: 40px;
    }

    .ginger-info {
        justify-content: start;
    }

    .ginger-para {
        font-size: 1.25rem;
        font-weight: 500;
        width: 85%;
    }

    .ginger-link {
        font-size: 1.25rem;
    }

    .a-link {
        font-size: 1.25rem;
    }

    .ginger-image {
        margin-top: 40px;
        width: 50%;
        height: 347px;
    }

    .croissant-image {
        width: 50%;
        height: 373px;
    }

    .croissant-info {
        margin-top: 40px;
    }

    .menu-section {
        padding-bottom: 50px;
    }

    .menu-header {
        padding-top: 0px;
    }

    .menu-selection-items {
        width: 100%;
        height: fit-content;
    }

    .menu-selection-image {
        height: 600px;
    }

    .salad-chicken-image {
        margin-top: 80px;
        margin-left: 25px;
        width: 300px;
        height: 307px;
    }

    .email-container {
        width: 90%;
        padding-top: 70px;
    }

    .contact-container {
        flex-wrap: wrap;
    }

    .contact-info-holder {
        width: 50%;
    }

}

@media (max-width:766px) {
    .feature-container {
        justify-content: center;
        width: 85%;
    }

    .feature-design {
        width: 100%;
        height: 232px;
    }

    .ginger-container {
        flex-wrap: wrap;
    }

    .ginger-info,
    .ginger-image {
        width: 100%;
    }

    .ginger-info {
        align-items: center;
    }

    .ginger-price {
        font-size: 2.4rem;
    }

    .ginger-header {
        font-size: 1.8rem;
    }

    .ginger-para {
        text-align: center;
        width: 85%;
        margin: 23px auto 0 auto;
    }

    .croissant-image {
        width: 340px;
        height: 352px;
        margin: 0 auto;
    }

    .menu-header {
        font-size: 2.4rem;
    }

    .menu-para {
        line-height: 1.6;
    }

    .menu-selection-image {
        height: 282px;
    }

    .salad-chicken-image {
        margin: 0 auto 0 auto;
        width: 300px;
        height: 307px;
    }

    form {
        flex-wrap: wrap;
    }

    #email {
        width: 90%;
        padding: 16px 180px;
    }

    .email-submit-button {
        width: 100%;
        margin: 0 auto;
    }

    .email-button {
        width: 100%;
        margin: 0 auto;
    }

    .contact-info-holder {
        width: 100%;
    }
}


@media (max-width:425px) {
    nav {
        width: 90%;
        margin: 0 auto;
    }

    li {
        padding: 10px 10px;
    }

    .restaurant-section {
        display: flex;
        justify-content: center;
    }

    .restaurant-circle-holder {
        display: flex;
        justify-content: center;
    }

    .restaurant-new {
        text-align: center;
    }

    .restaurant-header {
        font-size: 4rem;
        width: 70%;
        margin: 0 auto;
        text-align: center;
    }

    .restaurant-para {
        text-align: center;
    }

    .restaurant-button-holder {
        display: flex;
        /* border: 1px solid black; */
        justify-content: center;
    }

    .feature-container {
        justify-content: center;
    }

    .feature-design {
        height: 232px;
    }

    .ginger-container {
        flex-wrap: wrap;
    }

    .ginger-info,
    .ginger-image {
        width: 100%;
    }

    .ginger-info {
        align-items: center;
    }

    .ginger-price {
        font-size: 2.4rem;
    }

    .ginger-header {
        font-size: 1.8rem;
    }

    .ginger-para {
        text-align: center;
        width: 85%;
        margin: 23px auto 0 auto;
    }

    .croissant-image {
        width: 340px;
        height: 352px;
        margin: 0 auto;
    }

    .menu-header {
        font-size: 2.4rem;
    }

    .menu-para {
        line-height: 1.6;
    }

    .menu-selection-image {
        height: 282px;
    }

    .salad-chicken-image {
        margin: 0 auto 0 auto;
        width: 300px;
        height: 307px;
    }

    .email-header {
        font-size: 2.4rem;
        text-align: center;
    }

    .email-para {
        width: 90%;
        text-align: center;
        line-height: 1.6;
    }

    form {
        flex-wrap: wrap;
    }

    #email {
        width: 90%;
        padding: 16px 180px;
    }

    .email-submit-button {
        width: 100%;
        margin: 0 auto;
    }

    .email-button {
        width: 95%;
        margin: 0 auto;
    }

    .contact-info-holder {
        width: 100%;
    }

}